body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.color1 {
    color: coral;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half1 {
    width: 50%;
    padding-left: 5%;

}

.half1 img {
    width: 70%;
}

.link1 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

.s1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.big {
    color: lightcoral;
}

.link2 {
    text-decoration: none;
    background-image: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    color: aliceblue;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.s2 {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    box-shadow: 10px 10px 10px 10px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;

    ;
}

.s3 {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#Stack {
    border-left: 7px solid tomato;
}

#Baby {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
}